body {
    font: normal 13px/1.5 "Open Sans", sans-serif;
    background: url("../images/images.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make body fill the viewport height */
}

.container {
    padding: 40px;
    width: 80%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px 0 50px 0;
    box-shadow: 0px 0px 30px 10px rgb(0, 0, 0);
}

/* Style form elements */
form {
    display: block;
    margin-bottom: 20px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
}

#button {
    display: block;
    width: 97%;
    background-color: #fc999b;
    color: #ffffff;
    border: none;
    border-radius: 10px 0px 10px 0px;
    padding: 10px;
    cursor: pointer;
	text-align: center;
}

#button:hover {
    opacity: 0.8;
}

ol {
    padding-left: 20px;
}

ol li {
    padding: 10px;
    color: #000;
}

ol li:nth-child(even) {
    background: #dfdfdf;
}

.strike {
    text-decoration: line-through;
}

li:hover {
    cursor: pointer;
}

.delete {
    display: none;
}

li > crossOutButton {
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800;
}
@media screen and (max-width: 768px) {
    .container {
        /* width: 350px; */
        width: 80%;
    }

    .top-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 485px) {
    #saveButton {
        margin-top: 10px;
    }
}

@media screen and (max-width: 385px) {
    #button {
        margin-top: 10px;
    }
}